[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = for_non_interface_members:none

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = none

# CS2001: Source file 'C:\Users\Garrett\Desktop\repo\LoZGame\Controller\Commands\CommandL.cs' could not be found.
dotnet_diagnostic.CS2001.severity = silent

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = silent

# IDE0032: Use auto property
dotnet_style_prefer_auto_properties = true:none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none
